.chips {
  display: flex;
  align-items: center;
  border: 1px solid #9AA0FE;
  border-radius: 20px;
  margin-right: 12px;
  padding-right: 16px;
  color: #1F1F26;
  background-color: #fff;

  &.editable {
    cursor: pointer;
    padding-right: 0px;
  }

  &.active {
    border-color: #6168E4;
    background-color: #EBEEFF;
  }

  .chip-image {
    width: 32px;
    height: 32px;
    margin: 4px 12px 4px 4px;
    border-radius: 50%;
  }

  .chip-edit {
    width: 16px;
    height: 16px;
    margin: 12px 12px 12px;
  }
}